In [1]:
import pandas as pd

In [12]:
df = pd.read_json('data/export.geojson')

In [15]:
df_features = df.features.apply(pd.Series)

In [18]:
(df_features).head()

,type,properties,geometry,id
0,Feature,"{'@id': 'way/276244420', 'building': 'yes', 'n...","{'type': 'Polygon', 'coordinates': [[[13.37296...",way/276244420
1,Feature,"{'@id': 'way/184274358', '@relations': [{'role...","{'type': 'LineString', 'coordinates': [[13.388...",way/184274358
2,Feature,"{'@id': 'way/229966062', '@relations': [{'role...","{'type': 'LineString', 'coordinates': [[13.386...",way/229966062
3,Feature,"{'@id': 'node/21302157', 'contact:website': 'h...","{'type': 'Point', 'coordinates': [13.3364504, ...",node/21302157
4,Feature,"{'@id': 'node/26124376', 'contact:phone': '+49...","{'type': 'Point', 'coordinates': [13.2844201, ...",node/26124376

In [21]:
df_geom = df_features.geometry.apply(pd.Series)

In [22]:
df_geom.head()

         type                                        coordinates
0     Polygon  [[[13.3729641, 52.6370961], [13.3729965, 52.63...
1  LineString  [[13.3881219, 52.532037], [13.3881104, 52.5320...
2  LineString  [[13.386644, 52.5331488], [13.3865781, 52.5331...
3       Point                           [13.3364504, 52.5143746]
4       Point                           [13.2844201, 52.5180135]

In [23]:
df_properties = df_features.properties.apply(pd.Series)

In [25]:
df_properties.head()

,@id,building,name,old_name,railway,@relations,contact:website,light_rail,network,network:short,...,name:be,name:en,phone,description:old_name,source:old_name,internet_access:ssid,addr:country,name:ko,name:ru,ref_name
0,way/276244420,yes,Alter Bahnhof Schildow,Bahnhof Schildow,station,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,way/184274358,NaN,NaN,NaN,NaN,"[{'role': '', 'rel': 3097337, 'reltags': {'des...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,way/229966062,NaN,NaN,NaN,NaN,"[{'role': '', 'rel': 3097337, 'reltags': {'des...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,node/21302157,NaN,S Tiergarten,NaN,station,NaN,http://www.s-bahn-berlin.de/fahrplanundnetz/ba...,yes,Verkehrsverbund Berlin-Brandenburg,VBB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,node/26124376,NaN,S Westend,NaN,station,NaN,http://www.s-bahn-berlin.de/fahrplanundnetz/ba...,yes,Verkehrsverbund Berlin-Brandenburg,VBB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df_geom_properties = pd.concat([df_properties,df_geom],axis=1)

In [30]:
df_geom_properties = df_geom_properties[df_geom.type=='Point']

In [32]:
df_coord = pd.DataFrame(df_geom_properties.coordinates.tolist(), columns=['lon', 'lat'])

In [34]:
df_geom_properties = pd.concat([df_geom_properties['name'],df_coord],axis=1)

In [36]:
df_geom_properties.to_csv('data/bvg_stations.csv')